@charset "UTF-8";
table{
	width : 70%
	margin: auto;
}
input,textarea{
	padding: 7px;
	border: 1px solid #9575CD;  /* 중 */
	border-radius: 3px;
	box-sizing: border-box;
}
th{
	text-align: center;
	background-color: #7E57C2;
	color:white;
	width: 35%;
	font-size: 0.8em;
	border-radius: 3px;	
}
.btn{
	width: 70px;
	cursor : pointer;
}

